._background {
     background-image: url("/header.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: #131313;
     background-blend-mode: multiply;
}

/* body {
     scroll-behavior: smooth;
} */